@import "variables.css";
@import "./field.css";
@import "./flower.css";
@import "./city.css";


body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--text);
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.painting-card {
    border: 1px solid var(--border);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    color: black;
}

.painting {
    width: 100%;
    aspect-ratio: 16 / 9; 
    position: relative;
    overflow: hidden;
    
}


.painting > div {
  position: absolute;
}

.description {
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    color: var(--muted);
    letter-spacing: 0.1em;
    font-size: 0.75rem;
}


@media (max-width: 768px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }

    .painting {
        transform: translateX(-50%) scale(0.7);
    }

}

@media (max-width: 480px) {
  .painting {
    transform: translateX(-50%) scale(0.5);
  }
}

